{% comment %}
сниппет виджета корзины
{% endcomment %}

<div class="basket
            mc-grid-12
            sm-padded-vertical xs-padded-vertical"
>
  <a href="{{ cart_url }}" class="basket-link">
    <span class="basket-icon">
      <i class="fa fa-shopping-cart"></i>
      <span class="basket-title">Корзина</span>
    </span>

    <span class="basket-total">
      <span class="basket-items_count
                  js-basket-items_count"
      >
        {{ cart.items_count }}
      </span>
      <span class="basket-items_price
                  js-basket-total_price"
      >
        {{ cart.items_price | money }}
      </span>
    </span>
  </a>

  <div class="basket-dropdown basket_list
              sm-hidden xs-hidden
              padded-inner"
  >
  </div>
</div>