{% comment %}
  сниппет переключения языков
{% endcomment %}

{% if languages.size > 1 %}
  <ul class="languages">
    <li class="languages-node languages-node--current">
      <span class="languages-link languages-link--current">
        {{ language.title }}

        <span class="languages-toggler js-languages-toggler">
          <i class="fa fa-caret-down"></i>
        </span>
      </span>

      {% assign current_language = language.title %}

      <ul class="languages-list languages-list--dropdown">
        {% for language in languages %}
          {% unless language.title == current_language %}
            <li class="languages-node">
              <a href="{{ language.switch_url }}" class="languages-link">
                {{ language.title }}
              </a>
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </li>
  </ul>
{% endif %}