{% comment %}
  заводим шаблоны для вывода информации из js

  !! Обязательно!!
  обрамляем код шаблона в тег template
  Это позволяет заблокировать вывод кода шаблона в верстку и недает js'у его обработать и сломаться.
  В обязательном порядке задаем класс и id.
  Класс - указывает общее семейство шаблонов, например, виджеты корзины, вывод товара
  Id - конкретный вид шаблона, например, id="dropdown" - выпадающка с товарами и переходом в корзину, id="list" виджет со списком товаров, где совершенно другой вид верстки.

  далее - пример для виджета корзины

{% endcomment %}
<script type="text/template" hidden id="dropdown" class="cart">
  <div class="basket_list-header">
    <span class="basket_list-title">Корзина</span>

    <% if @order_lines?.length == 0 : %>
      <div class="notice">
        Корзина пуста. Добавьте интересующий товар в корзину и перейдите к оформлению заказа.
      </div>
    <% end %>
  </div>

  <% if @order_lines?.length : %>
    <ol class="basket_list-items">
      <% for order_line in @order_lines : %>
        <li class="basket_item">

          <a href="<%- order_line.url %>" class="basket_item-image">
            <img src="<%- order_line.image.small %>" />
          </a>

          <div class="basket_item-details">
            <a class="basket_item-delete js-cart_item-delete fa fa-times" data-item-id="<%- order_line.variant_id %>"></a>
            <a href="<%- order_line.url %>" class="basket_item-title">
              <%- order_line.title %>
            </a>

            <div class="right">
              <span class="basket_item-count">
                <%- order_line.quantity %>
              </span>
                x
              <span class="basket_item-price prices">
                <span class="prices-current">
                  <%- @formatMoney order_line.sale_price %>
                </span>
              </span>
            </div>
          </div>
        </li>
      <% end %>
    </ol>

    <div class="basket_list-footer">
      Товаров в корзине: 
      <span class="basket_list-count">
        <%- @items_count %>
      </span>
      <div class="basket_list-total prices right">
        <div class="prices-current">
          <%- @formatMoney @total_price  %>
        </div>
      </div>
      <a href="/cart_items/" class="basket_list-submit button button--checkout">
        Оформить
      </a>
    </div>
  <% end %>
</script>

{% comment %}
  шаблон для вывода скидок
{% endcomment %}
<script type="text/template" hidden class="cart" id="discounts">
  <% for discount in @discounts : %>
    <div class="discount">
      <div class="discount-title
                  lg-grid-8 md-grid-8 sm-grid-7 xs-grid-8
                  lg-right md-right"
      >
        <%- discount.description %>
      </div>
      <div class="prices prices--discount
                  lg-grid-4 md-grid-4 sm-grid-5 xs-grid-4
                  right"
      >
        <%- @formatMoney discount.amount %>
      </div>
    </div>
  <% end %>
</script>

{% comment %}
  шаблон для вывода ajax-поиска
{% endcomment %}
<script type="text/template" hidden class="search" id="ajax">
  <% if @suggestions?.length > 0 : %>
    <ul class="ajax_search-wrapper">
      <% for product in @suggestions : %>
        <li class="ajax_search-item">
          <a href="<%- product.url %>" class="ajax_search-link">
            <%- product.marked_title %>
            <span class="ajax_search-prices">
              <%- @formatMoney product.fields.price_min %>
            </span>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</script>

{% comment %}
подключаем шаблоны к системе
{% endcomment %}
<script type="text/javascript">
  InSales.Template( 'cart' );

  InSales.Template( 'search' );
</script>