.discounts{
  .row;

  &-input{}

  &-field{
    width: 130px;
  }

  &-submit{
    vertical-align: top;
  }

  &-notice{
    display: none;
  }

  &-list{}
}

.discount{
  .row;
  margin-bottom: 0.5rem;

  &:last-child{
    margin: 0;
  }

  &-title{}

  &-price{}
}
