{% if search_widget == 'header' %}
  {% assign is_ajax = true %}
{% else %}
  {% assign is_ajax = false %}
{% endif %}



<form action="/search"
      method="get"
      class="search_widget
            {% if search_widget %}search_widget--{{ search_widget }} {% endif %}"
>
  <input type="text"
          name="q"
          class="search_widget-field
                {% if is_ajax %}js-ajax_search-input{% endif %}"
          value="{{ search.query | escape }}"
          placeholder="Поиск"
  />

  <button type="submit"
          class="search_widget-submit button"
  >
    <i class="fa fa-search"></i>
  </button>

  {% if is_ajax %}
    <div class="ajax_search-wrapper
                js-ajax_search-wrapper"
    ></div>
  {% endif %}

  {% if language.not_default? %}
    <input type="hidden" name="lang" value="{{ language.locale }}">
  {% endif %}
</form>
