<div class="sidebar">

  {% if template == 'collection' %}
    <div class="sidebar_block">
      <div class="sidebar_block-title">
        Каталог
      </div>
      {% include "menu_collection" %}
    </div>
  {% endif %}

  {% if template == 'collection' and collection.properties.size > 0 %}
    <div class="sidebar_block">
      <div class="sidebar_block-title">
        Фильтр
      </div>
      {% include "collection_filter" %}
    </div>
  {% endif %}

  {% if  block_lists.news.blocks.size > 0 %}
    {% for block in  block_lists.blocks.news %}
      <div class="sidebar_block">
        <div class="sidebar_block-title">{{ block.title }}</div>
        <div class="sidebar_block-content">
          {{ block.content }}
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <div class="sidebar_block js-recently_view-wrapper">
    <div class="sidebar_block-title">Вы смотрели:</div>
    <div class="sidebar_block-content js-recently_view">
    </div>
  </div>

</div>
