/* accordion block */

.accordion{
  margin-bottom: 0.5em;
  //border-bottom: 1px solid $border-color;

  &-title{
    line-height: $ui-size;
    border-bottom: 1px solid $border-color;
    padding: 0 0 5px;

    cursor: pointer;
  }

  &-content{
    padding: 0.5em;
  }

  &-toggler{
    float: right;
    width: $ui-size;
    padding: 0;
    text-align: center;
  }
}