// layouts

html{}

body{}

a{
  &:hover{
    $link-color-hover;
  }
}

// common class
.wrap{
  max-width: 1200px;
}

// данные классы используются для стилизации крупных блоков.
.section{
  // modificator
  &--top_line{}
}

// sidebar
.sidebar{}

.sidebar_block{
  &-title{}

  &-content{}
}

// content
.content-title{}