/* избранное */

.favorite{

  &-trigger{
    .favorite-add{
      display: block;
    }

    .favorite-remove{
      display: none;
    }

    &--added{
      .favorite-add{
        display: none;
      }

      .favorite-remove{
        display: block;
      }
    }
  }
}