/* menu */

.menu{


  // node
  &-node{

    &--current{}
  }

  // link
  &-link{
    &:hover{}

    &--current{}
  }

  // marker

  &-marker{
    &:hover{}
  }

  &-toggler{}

  // modificator
  &--dropdown{
    background-color: #fff;
    padding: 0.5rem 0;
    border: 1px solid $border-color;
    width: 200px;

    > .menu-node{
      padding: 0 0.5rem;
    }
  }
}
