.row:after,
.grid-row:after,
.grid-row-inner:after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}
.grid-row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.grid-row-inner {
  margin-left: -1rem;
  margin-right: -1rem;
}
.wrap {
  margin-left: auto;
  margin-right: auto;
}
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  margin-left: 0;
  margin-right: 0;
  clear: none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal helpers */
/* данный класс меняет поведение вложенных элементов */
.grid-inline {
  letter-spacing: -0.32em;
  float: none;
}
.grid-inline:after {
  clear: both;
  content: "";
  display: block;
}
.grid-inline > [class*="grid"],
.grid-inline > [clacc*="inline"] {
  display: inline-block;
  float: none !important;
  letter-spacing: 0;
  vertical-align: top;
}
@media all {
  .grid-1 {
    width: 8.33333333%;
  }
  .offset-1 {
    margin-left: 8.33333333%;
  }
  .grid-2 {
    width: 16.66666667%;
  }
  .offset-2 {
    margin-left: 16.66666667%;
  }
  .grid-3 {
    width: 25%;
  }
  .offset-3 {
    margin-left: 25%;
  }
  .grid-4 {
    width: 33.33333333%;
  }
  .offset-4 {
    margin-left: 33.33333333%;
  }
  .grid-5 {
    width: 41.66666667%;
  }
  .offset-5 {
    margin-left: 41.66666667%;
  }
  .grid-6 {
    width: 50%;
  }
  .offset-6 {
    margin-left: 50%;
  }
  .grid-7 {
    width: 58.33333333%;
  }
  .offset-7 {
    margin-left: 58.33333333%;
  }
  .grid-8 {
    width: 66.66666667%;
  }
  .offset-8 {
    margin-left: 66.66666667%;
  }
  .grid-9 {
    width: 75%;
  }
  .offset-9 {
    margin-left: 75%;
  }
  .grid-10 {
    width: 83.33333333%;
  }
  .offset-10 {
    margin-left: 83.33333333%;
  }
  .grid-11 {
    width: 91.66666667%;
  }
  .offset-11 {
    margin-left: 91.66666667%;
  }
  .grid-12 {
    width: 100%;
  }
  .offset-12 {
    margin-left: 100%;
  }
  .padded {
    padding: .5rem;
  }
  .padded-left {
    padding-left: .5rem;
  }
  .padded-right {
    padding-right: .5rem;
  }
  .padded-top {
    padding-top: .5rem;
  }
  .padded-bottom {
    padding-bottom: .5rem;
  }
  .padded-sides {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .padded-vertical {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .padded-inner {
    padding: 1rem;
  }
  .padded-inner-left {
    padding-left: 1rem;
  }
  .padded-inner-right {
    padding-right: 1rem;
  }
  .padded-inner-top {
    padding-top: 1rem;
  }
  .padded-inner-bottom {
    padding-bottom: 1rem;
  }
  .padded-inner-sides {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .padded-inner-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .padded-zero {
    padding: 0;
  }
  .padded-zero-left {
    padding-left: 0;
  }
  .padded-zero-right {
    padding-right: 0;
  }
  .padded-zero-top {
    padding-top: 0;
  }
  .padded-zero-bottom {
    padding-bottom: 0;
  }
  .padded-zero-sides {
    padding-left: 0;
    padding-right: 0;
  }
  .padded-zero-vertical {
    padding-top: 0;
    padding-bottom: 0;
  }
  .padded-reverse {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .padded-reverse-all {
    margin: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .fl,
  .flow {
    float: left;
  }
  .fr,
  .flow-opposite {
    float: right;
  }
  .center {
    text-align: center;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .grid-inline-top > [class*="-grid-"] {
    vertical-align: top;
  }
  .grid-inline-middle > [class*="-grid-"] {
    vertical-align: middle;
  }
  .grid-inline-bottom > [class*="-grid-"] {
    vertical-align: bottom;
  }
  .grid-inline > .inline-top {
    vertical-align: top;
  }
  .grid-inline > .inline-middle {
    vertical-align: middle;
  }
  .grid-inline > .inline-bottom {
    vertical-align: bottom;
  }
  .hidden {
    display: none !important;
  }
  .visible {
    display: block !important;
  }
}
@media all {
  [class*="lg-grid-"] {
    margin-left: 0;
    margin-right: 0;
    clear: none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .lg-grid-1 {
    width: 8.33333333%;
  }
  .lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .lg-grid-2 {
    width: 16.66666667%;
  }
  .lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .lg-grid-3 {
    width: 25%;
  }
  .lg-offset-3 {
    margin-left: 25%;
  }
  .lg-grid-4 {
    width: 33.33333333%;
  }
  .lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .lg-grid-5 {
    width: 41.66666667%;
  }
  .lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .lg-grid-6 {
    width: 50%;
  }
  .lg-offset-6 {
    margin-left: 50%;
  }
  .lg-grid-7 {
    width: 58.33333333%;
  }
  .lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .lg-grid-8 {
    width: 66.66666667%;
  }
  .lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .lg-grid-9 {
    width: 75%;
  }
  .lg-offset-9 {
    margin-left: 75%;
  }
  .lg-grid-10 {
    width: 83.33333333%;
  }
  .lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .lg-grid-11 {
    width: 91.66666667%;
  }
  .lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .lg-grid-12 {
    width: 100%;
  }
  .lg-offset-12 {
    margin-left: 100%;
  }
  .lg-padded {
    padding: .5rem;
  }
  .lg-padded-left {
    padding-left: .5rem;
  }
  .lg-padded-right {
    padding-right: .5rem;
  }
  .lg-padded-top {
    padding-top: .5rem;
  }
  .lg-padded-bottom {
    padding-bottom: .5rem;
  }
  .lg-padded-sides {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .lg-padded-vertical {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .lg-padded-inner {
    padding: 1rem;
  }
  .lg-padded-inner-left {
    padding-left: 1rem;
  }
  .lg-padded-inner-right {
    padding-right: 1rem;
  }
  .lg-padded-inner-top {
    padding-top: 1rem;
  }
  .lg-padded-inner-bottom {
    padding-bottom: 1rem;
  }
  .lg-padded-inner-sides {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .lg-padded-inner-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .lg-padded-zero {
    padding: 0;
  }
  .lg-padded-zero-left {
    padding-left: 0;
  }
  .lg-padded-zero-right {
    padding-right: 0;
  }
  .lg-padded-zero-top {
    padding-top: 0;
  }
  .lg-padded-zero-bottom {
    padding-bottom: 0;
  }
  .lg-padded-zero-sides {
    padding-left: 0;
    padding-right: 0;
  }
  .lg-padded-zero-vertical {
    padding-top: 0;
    padding-bottom: 0;
  }
  .lg-padded-reverse {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .lg-padded-reverse-all {
    margin: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .lg-fl,
  .lg-flow {
    float: left;
  }
  .lg-fr,
  .lg-flow-opposite {
    float: right;
  }
  .lg-center {
    text-align: center;
  }
  .lg-left {
    text-align: left;
  }
  .lg-right {
    text-align: right;
  }
  .lg-grid-inline-top > [class*="-grid-"] {
    vertical-align: top;
  }
  .lg-grid-inline-middle > [class*="-grid-"] {
    vertical-align: middle;
  }
  .lg-grid-inline-bottom > [class*="-grid-"] {
    vertical-align: bottom;
  }
  .grid-inline > .lg-inline-top {
    vertical-align: top;
  }
  .grid-inline > .lg-inline-middle {
    vertical-align: middle;
  }
  .grid-inline > .lg-inline-bottom {
    vertical-align: bottom;
  }
}
@media (max-width: 1100px) {
  .adaptive [class*="md-grid-"] {
    margin-left: 0;
    margin-right: 0;
    clear: none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .adaptive .md-grid-1 {
    width: 8.33333333%;
  }
  .adaptive .md-offset-1 {
    margin-left: 8.33333333%;
  }
  .adaptive .md-grid-2 {
    width: 16.66666667%;
  }
  .adaptive .md-offset-2 {
    margin-left: 16.66666667%;
  }
  .adaptive .md-grid-3 {
    width: 25%;
  }
  .adaptive .md-offset-3 {
    margin-left: 25%;
  }
  .adaptive .md-grid-4 {
    width: 33.33333333%;
  }
  .adaptive .md-offset-4 {
    margin-left: 33.33333333%;
  }
  .adaptive .md-grid-5 {
    width: 41.66666667%;
  }
  .adaptive .md-offset-5 {
    margin-left: 41.66666667%;
  }
  .adaptive .md-grid-6 {
    width: 50%;
  }
  .adaptive .md-offset-6 {
    margin-left: 50%;
  }
  .adaptive .md-grid-7 {
    width: 58.33333333%;
  }
  .adaptive .md-offset-7 {
    margin-left: 58.33333333%;
  }
  .adaptive .md-grid-8 {
    width: 66.66666667%;
  }
  .adaptive .md-offset-8 {
    margin-left: 66.66666667%;
  }
  .adaptive .md-grid-9 {
    width: 75%;
  }
  .adaptive .md-offset-9 {
    margin-left: 75%;
  }
  .adaptive .md-grid-10 {
    width: 83.33333333%;
  }
  .adaptive .md-offset-10 {
    margin-left: 83.33333333%;
  }
  .adaptive .md-grid-11 {
    width: 91.66666667%;
  }
  .adaptive .md-offset-11 {
    margin-left: 91.66666667%;
  }
  .adaptive .md-grid-12 {
    width: 100%;
  }
  .adaptive .md-offset-12 {
    margin-left: 100%;
  }
  .adaptive .md-padded {
    padding: .5rem;
  }
  .adaptive .md-padded-left {
    padding-left: .5rem;
  }
  .adaptive .md-padded-right {
    padding-right: .5rem;
  }
  .adaptive .md-padded-top {
    padding-top: .5rem;
  }
  .adaptive .md-padded-bottom {
    padding-bottom: .5rem;
  }
  .adaptive .md-padded-sides {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .adaptive .md-padded-vertical {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .adaptive .md-padded-inner {
    padding: 1rem;
  }
  .adaptive .md-padded-inner-left {
    padding-left: 1rem;
  }
  .adaptive .md-padded-inner-right {
    padding-right: 1rem;
  }
  .adaptive .md-padded-inner-top {
    padding-top: 1rem;
  }
  .adaptive .md-padded-inner-bottom {
    padding-bottom: 1rem;
  }
  .adaptive .md-padded-inner-sides {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .adaptive .md-padded-inner-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .adaptive .md-padded-zero {
    padding: 0;
  }
  .adaptive .md-padded-zero-left {
    padding-left: 0;
  }
  .adaptive .md-padded-zero-right {
    padding-right: 0;
  }
  .adaptive .md-padded-zero-top {
    padding-top: 0;
  }
  .adaptive .md-padded-zero-bottom {
    padding-bottom: 0;
  }
  .adaptive .md-padded-zero-sides {
    padding-left: 0;
    padding-right: 0;
  }
  .adaptive .md-padded-zero-vertical {
    padding-top: 0;
    padding-bottom: 0;
  }
  .adaptive .md-padded-reverse {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .adaptive .md-padded-reverse-all {
    margin: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .adaptive .md-fl,
  .adaptive .md-flow {
    float: left;
  }
  .adaptive .md-fr,
  .adaptive .md-flow-opposite {
    float: right;
  }
  .adaptive .md-center {
    text-align: center;
  }
  .adaptive .md-left {
    text-align: left;
  }
  .adaptive .md-right {
    text-align: right;
  }
  .adaptive .md-grid-inline-top > [class*="-grid-"] {
    vertical-align: top;
  }
  .adaptive .md-grid-inline-middle > [class*="-grid-"] {
    vertical-align: middle;
  }
  .adaptive .md-grid-inline-bottom > [class*="-grid-"] {
    vertical-align: bottom;
  }
  .adaptive .grid-inline > .md-inline-top {
    vertical-align: top;
  }
  .adaptive .grid-inline > .md-inline-middle {
    vertical-align: middle;
  }
  .adaptive .grid-inline > .md-inline-bottom {
    vertical-align: bottom;
  }
}
@media (max-width: 800px) {
  .adaptive [class*="sm-grid-"] {
    margin-left: 0;
    margin-right: 0;
    clear: none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .adaptive .sm-grid-1 {
    width: 8.33333333%;
  }
  .adaptive .sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .adaptive .sm-grid-2 {
    width: 16.66666667%;
  }
  .adaptive .sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .adaptive .sm-grid-3 {
    width: 25%;
  }
  .adaptive .sm-offset-3 {
    margin-left: 25%;
  }
  .adaptive .sm-grid-4 {
    width: 33.33333333%;
  }
  .adaptive .sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .adaptive .sm-grid-5 {
    width: 41.66666667%;
  }
  .adaptive .sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .adaptive .sm-grid-6 {
    width: 50%;
  }
  .adaptive .sm-offset-6 {
    margin-left: 50%;
  }
  .adaptive .sm-grid-7 {
    width: 58.33333333%;
  }
  .adaptive .sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .adaptive .sm-grid-8 {
    width: 66.66666667%;
  }
  .adaptive .sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .adaptive .sm-grid-9 {
    width: 75%;
  }
  .adaptive .sm-offset-9 {
    margin-left: 75%;
  }
  .adaptive .sm-grid-10 {
    width: 83.33333333%;
  }
  .adaptive .sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .adaptive .sm-grid-11 {
    width: 91.66666667%;
  }
  .adaptive .sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .adaptive .sm-grid-12 {
    width: 100%;
  }
  .adaptive .sm-offset-12 {
    margin-left: 100%;
  }
  .adaptive .sm-padded {
    padding: .5rem;
  }
  .adaptive .sm-padded-left {
    padding-left: .5rem;
  }
  .adaptive .sm-padded-right {
    padding-right: .5rem;
  }
  .adaptive .sm-padded-top {
    padding-top: .5rem;
  }
  .adaptive .sm-padded-bottom {
    padding-bottom: .5rem;
  }
  .adaptive .sm-padded-sides {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .adaptive .sm-padded-vertical {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .adaptive .sm-padded-inner {
    padding: 1rem;
  }
  .adaptive .sm-padded-inner-left {
    padding-left: 1rem;
  }
  .adaptive .sm-padded-inner-right {
    padding-right: 1rem;
  }
  .adaptive .sm-padded-inner-top {
    padding-top: 1rem;
  }
  .adaptive .sm-padded-inner-bottom {
    padding-bottom: 1rem;
  }
  .adaptive .sm-padded-inner-sides {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .adaptive .sm-padded-inner-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .adaptive .sm-padded-zero {
    padding: 0;
  }
  .adaptive .sm-padded-zero-left {
    padding-left: 0;
  }
  .adaptive .sm-padded-zero-right {
    padding-right: 0;
  }
  .adaptive .sm-padded-zero-top {
    padding-top: 0;
  }
  .adaptive .sm-padded-zero-bottom {
    padding-bottom: 0;
  }
  .adaptive .sm-padded-zero-sides {
    padding-left: 0;
    padding-right: 0;
  }
  .adaptive .sm-padded-zero-vertical {
    padding-top: 0;
    padding-bottom: 0;
  }
  .adaptive .sm-padded-reverse {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .adaptive .sm-padded-reverse-all {
    margin: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .adaptive .sm-fl,
  .adaptive .sm-flow {
    float: left;
  }
  .adaptive .sm-fr,
  .adaptive .sm-flow-opposite {
    float: right;
  }
  .adaptive .sm-center {
    text-align: center;
  }
  .adaptive .sm-left {
    text-align: left;
  }
  .adaptive .sm-right {
    text-align: right;
  }
  .adaptive .sm-grid-inline-top > [class*="-grid-"] {
    vertical-align: top;
  }
  .adaptive .sm-grid-inline-middle > [class*="-grid-"] {
    vertical-align: middle;
  }
  .adaptive .sm-grid-inline-bottom > [class*="-grid-"] {
    vertical-align: bottom;
  }
  .adaptive .grid-inline > .sm-inline-top {
    vertical-align: top;
  }
  .adaptive .grid-inline > .sm-inline-middle {
    vertical-align: middle;
  }
  .adaptive .grid-inline > .sm-inline-bottom {
    vertical-align: bottom;
  }
}
@media (max-width: 640px) {
  .adaptive [class*="xs-grid-"] {
    margin-left: 0;
    margin-right: 0;
    clear: none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .adaptive .xs-grid-1 {
    width: 8.33333333%;
  }
  .adaptive .xs-offset-1 {
    margin-left: 8.33333333%;
  }
  .adaptive .xs-grid-2 {
    width: 16.66666667%;
  }
  .adaptive .xs-offset-2 {
    margin-left: 16.66666667%;
  }
  .adaptive .xs-grid-3 {
    width: 25%;
  }
  .adaptive .xs-offset-3 {
    margin-left: 25%;
  }
  .adaptive .xs-grid-4 {
    width: 33.33333333%;
  }
  .adaptive .xs-offset-4 {
    margin-left: 33.33333333%;
  }
  .adaptive .xs-grid-5 {
    width: 41.66666667%;
  }
  .adaptive .xs-offset-5 {
    margin-left: 41.66666667%;
  }
  .adaptive .xs-grid-6 {
    width: 50%;
  }
  .adaptive .xs-offset-6 {
    margin-left: 50%;
  }
  .adaptive .xs-grid-7 {
    width: 58.33333333%;
  }
  .adaptive .xs-offset-7 {
    margin-left: 58.33333333%;
  }
  .adaptive .xs-grid-8 {
    width: 66.66666667%;
  }
  .adaptive .xs-offset-8 {
    margin-left: 66.66666667%;
  }
  .adaptive .xs-grid-9 {
    width: 75%;
  }
  .adaptive .xs-offset-9 {
    margin-left: 75%;
  }
  .adaptive .xs-grid-10 {
    width: 83.33333333%;
  }
  .adaptive .xs-offset-10 {
    margin-left: 83.33333333%;
  }
  .adaptive .xs-grid-11 {
    width: 91.66666667%;
  }
  .adaptive .xs-offset-11 {
    margin-left: 91.66666667%;
  }
  .adaptive .xs-grid-12 {
    width: 100%;
  }
  .adaptive .xs-offset-12 {
    margin-left: 100%;
  }
  .adaptive .xs-padded {
    padding: .5rem;
  }
  .adaptive .xs-padded-left {
    padding-left: .5rem;
  }
  .adaptive .xs-padded-right {
    padding-right: .5rem;
  }
  .adaptive .xs-padded-top {
    padding-top: .5rem;
  }
  .adaptive .xs-padded-bottom {
    padding-bottom: .5rem;
  }
  .adaptive .xs-padded-sides {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .adaptive .xs-padded-vertical {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .adaptive .xs-padded-inner {
    padding: 1rem;
  }
  .adaptive .xs-padded-inner-left {
    padding-left: 1rem;
  }
  .adaptive .xs-padded-inner-right {
    padding-right: 1rem;
  }
  .adaptive .xs-padded-inner-top {
    padding-top: 1rem;
  }
  .adaptive .xs-padded-inner-bottom {
    padding-bottom: 1rem;
  }
  .adaptive .xs-padded-inner-sides {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .adaptive .xs-padded-inner-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .adaptive .xs-padded-zero {
    padding: 0;
  }
  .adaptive .xs-padded-zero-left {
    padding-left: 0;
  }
  .adaptive .xs-padded-zero-right {
    padding-right: 0;
  }
  .adaptive .xs-padded-zero-top {
    padding-top: 0;
  }
  .adaptive .xs-padded-zero-bottom {
    padding-bottom: 0;
  }
  .adaptive .xs-padded-zero-sides {
    padding-left: 0;
    padding-right: 0;
  }
  .adaptive .xs-padded-zero-vertical {
    padding-top: 0;
    padding-bottom: 0;
  }
  .adaptive .xs-padded-reverse {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .adaptive .xs-padded-reverse-all {
    margin: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .adaptive .xs-fl,
  .adaptive .xs-flow {
    float: left;
  }
  .adaptive .xs-fr,
  .adaptive .xs-flow-opposite {
    float: right;
  }
  .adaptive .xs-center {
    text-align: center;
  }
  .adaptive .xs-left {
    text-align: left;
  }
  .adaptive .xs-right {
    text-align: right;
  }
  .adaptive .xs-grid-inline-top > [class*="-grid-"] {
    vertical-align: top;
  }
  .adaptive .xs-grid-inline-middle > [class*="-grid-"] {
    vertical-align: middle;
  }
  .adaptive .xs-grid-inline-bottom > [class*="-grid-"] {
    vertical-align: bottom;
  }
  .adaptive .grid-inline > .xs-inline-top {
    vertical-align: top;
  }
  .adaptive .grid-inline > .xs-inline-middle {
    vertical-align: middle;
  }
  .adaptive .grid-inline > .xs-inline-bottom {
    vertical-align: bottom;
  }
}
@media (max-width: 480px) {
  .adaptive .adaptive [class*="mc-grid-"] {
    margin-left: 0;
    margin-right: 0;
    clear: none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .adaptive .mc-grid-1 {
    width: 8.33333333%;
  }
  .adaptive .mc-offset-1 {
    margin-left: 8.33333333%;
  }
  .adaptive .mc-grid-2 {
    width: 16.66666667%;
  }
  .adaptive .mc-offset-2 {
    margin-left: 16.66666667%;
  }
  .adaptive .mc-grid-3 {
    width: 25%;
  }
  .adaptive .mc-offset-3 {
    margin-left: 25%;
  }
  .adaptive .mc-grid-4 {
    width: 33.33333333%;
  }
  .adaptive .mc-offset-4 {
    margin-left: 33.33333333%;
  }
  .adaptive .mc-grid-5 {
    width: 41.66666667%;
  }
  .adaptive .mc-offset-5 {
    margin-left: 41.66666667%;
  }
  .adaptive .mc-grid-6 {
    width: 50%;
  }
  .adaptive .mc-offset-6 {
    margin-left: 50%;
  }
  .adaptive .mc-grid-7 {
    width: 58.33333333%;
  }
  .adaptive .mc-offset-7 {
    margin-left: 58.33333333%;
  }
  .adaptive .mc-grid-8 {
    width: 66.66666667%;
  }
  .adaptive .mc-offset-8 {
    margin-left: 66.66666667%;
  }
  .adaptive .mc-grid-9 {
    width: 75%;
  }
  .adaptive .mc-offset-9 {
    margin-left: 75%;
  }
  .adaptive .mc-grid-10 {
    width: 83.33333333%;
  }
  .adaptive .mc-offset-10 {
    margin-left: 83.33333333%;
  }
  .adaptive .mc-grid-11 {
    width: 91.66666667%;
  }
  .adaptive .mc-offset-11 {
    margin-left: 91.66666667%;
  }
  .adaptive .mc-grid-12 {
    width: 100%;
  }
  .adaptive .mc-offset-12 {
    margin-left: 100%;
  }
  .adaptive .mc-padded {
    padding: .5rem;
  }
  .adaptive .mc-padded-left {
    padding-left: .5rem;
  }
  .adaptive .mc-padded-right {
    padding-right: .5rem;
  }
  .adaptive .mc-padded-top {
    padding-top: .5rem;
  }
  .adaptive .mc-padded-bottom {
    padding-bottom: .5rem;
  }
  .adaptive .mc-padded-sides {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .adaptive .mc-padded-vertical {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .adaptive .mc-padded-inner {
    padding: 1rem;
  }
  .adaptive .mc-padded-inner-left {
    padding-left: 1rem;
  }
  .adaptive .mc-padded-inner-right {
    padding-right: 1rem;
  }
  .adaptive .mc-padded-inner-top {
    padding-top: 1rem;
  }
  .adaptive .mc-padded-inner-bottom {
    padding-bottom: 1rem;
  }
  .adaptive .mc-padded-inner-sides {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .adaptive .mc-padded-inner-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .adaptive .mc-padded-zero {
    padding: 0;
  }
  .adaptive .mc-padded-zero-left {
    padding-left: 0;
  }
  .adaptive .mc-padded-zero-right {
    padding-right: 0;
  }
  .adaptive .mc-padded-zero-top {
    padding-top: 0;
  }
  .adaptive .mc-padded-zero-bottom {
    padding-bottom: 0;
  }
  .adaptive .mc-padded-zero-sides {
    padding-left: 0;
    padding-right: 0;
  }
  .adaptive .mc-padded-zero-vertical {
    padding-top: 0;
    padding-bottom: 0;
  }
  .adaptive .mc-padded-reverse {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .adaptive .mc-padded-reverse-all {
    margin: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .adaptive .mc-fl,
  .adaptive .mc-flow {
    float: left;
  }
  .adaptive .mc-fr,
  .adaptive .mc-flow-opposite {
    float: right;
  }
  .adaptive .mc-center {
    text-align: center;
  }
  .adaptive .mc-left {
    text-align: left;
  }
  .adaptive .mc-right {
    text-align: right;
  }
  .adaptive .mc-grid-inline-top > [class*="-grid-"] {
    vertical-align: top;
  }
  .adaptive .mc-grid-inline-middle > [class*="-grid-"] {
    vertical-align: middle;
  }
  .adaptive .mc-grid-inline-bottom > [class*="-grid-"] {
    vertical-align: bottom;
  }
  .adaptive .grid-inline > .mc-inline-top {
    vertical-align: top;
  }
  .adaptive .grid-inline > .mc-inline-middle {
    vertical-align: middle;
  }
  .adaptive .grid-inline > .mc-inline-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 1101px) {
  .adaptive .lg-hidden {
    display: none !important;
  }
  .adaptive .lg-visible {
    display: block !important;
  }
}
@media (min-width: 801px) and (max-width: 1100px) {
  .adaptive .md-hidden {
    display: none !important;
  }
  .adaptive .md-visible {
    display: block !important;
  }
}
@media (min-width: 641px) and (max-width: 800px) {
  .adaptive .sm-hidden {
    display: none !important;
  }
  .adaptive .sm-visible {
    display: block !important;
  }
}
@media (max-width: 640px) {
  .adaptive .xs-hidden {
    display: none !important;
  }
  .adaptive .xs-visible {
    display: block !important;
  }
}
@media (max-width: 480px) {
  .adaptive .mc-hidden {
    display: none !important;
  }
  .adaptive .mc-visible {
    display: block !important;
  }
}
/**/
img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.image-square,
.image-circle {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
.image-square img,
.image-circle img {
  display: inline-block !important;
  width: auto !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cart_item .image-square,
.article_preview-preview .image-square,
.product_preview-preview .image-square {
  overflow: hidden;
  max-height: 240px;
}
.image-circle {
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#own_preloader {
  position: fixed;
  z-index: 1060;
}
.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
}
.button--disabled,
.button[disabled] {
  cursor: not-allowed;
}
.input {
  margin-bottom: 0.5rem;
}
.input:after {
  clear: both;
  content: "";
  display: block;
}
.input:last-child {
  margin-bottom: 0;
}
.input-label {
  display: block;
  margin-bottom: 0.5rem;
}
.input-field {
  display: block;
  width: 100%;
  border: 1px solid;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}
.input-notice {
  display: none;
  margin-top: 0.5rem;
}
.input-captcha {
  display: inline-block;
}
.input--inline > .input-label {
  display: inline-block;
  line-height: inherit;
  height: inherit;
  border: 1px solid initial;
  vertical-align: middle;
  margin-bottom: 0;
}
.input--inline > .input-field {
  display: inline-block;
  height: inherit;
  line-height: inherit;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}
.input--inline > .input-captcha {
  display: inline-block;
}
.input--inline > .input-button {
  display: inline-block;
  height: inherit;
  line-height: inherit;
  border: 1px solid transparent;
  vertical-align: middle;
}
.input--error > .input-field {
  border-color: #ebccd1;
  background-color: #f2dede;
}
.input--error > .input-notice {
  display: block;
}
.input--required .input-label:after {
  content: '*';
  color: red;
}
.input--captcha .input-field {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  width: 125px;
}
.styled_select-wrapper {
  position: relative;
  display: inline-block;
  min-width: 50px;
  overflow: hidden;
  box-sizing: border-box;
  vertical-align: middle;
  z-index: 0;
  border: 1px solid;
}
.styled_select-wrapper:after {
  position: absolute;
  top: calc( 50% - 8px );
  right: 0;
  line-height: inherit;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f078";
  padding: 0 0.5rem;
}
.checkout .styled_select-wrapper {
  width: 100%;
}
.styled_select-wrapper select {
  position: relative;
  display: inline-block;
  width: calc( 100% + 30px );
  height: 100%;
  border: none;
  padding: 0 0.5rem;
  background-color: transparent;
  z-index: 1;
  line-height: inherit;
  cursor: pointer;
}
.notice {
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.notice:last-child {
  margin-bottom: 0;
}
.notice--success {
  color: #3c763d;
  background-color: #dff0d8;
}
.notice--info {
  color: #31708f;
  background-color: #d9edf7;
}
.notice--warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}
.notice--danger {
  color: #a94442;
  background-color: #f2dede;
}
.prices:after {
  clear: both;
  content: "";
  display: block;
}
.prices--inline > .prices-current,
.prices--inline > .prices-old {
  display: inline-block;
}
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.menu:after {
  clear: both;
  content: "";
  display: block;
}
.menu-node {
  position: relative;
  box-sizing: border-box;
  display: block;
}
.menu-link {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.menu-marker {
  display: block;
  box-sizing: border-box;
}
.menu-marker--parent {
  float: right;
  position: relative;
  z-index: 10;
}
.menu-toggler {
  cursor: pointer;
}
.menu--horizontal > .menu-node {
  float: left;
}
.menu--dropdown {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
}
.menu-node:hover > .menu--dropdown {
  display: block;
}
.menu--side {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1000;
  display: none;
}
.menu-node:hover > .menu--side {
  display: block;
}
.menu--fixed {
  position: fixed;
  z-index: 1030;
}
.menu--collapse {
  display: none;
}
.js-menu-toggler {
  cursor: pointer;
}
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  z-index: 1;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  display: none;
}
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}
/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.tubs:after {
  clear: both;
  content: "";
  display: block;
}
.tubs-controls {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.tubs-controls:after {
  clear: both;
  content: "";
  display: block;
}
.tubs-controls--horizontal > .tubs-node {
  float: left;
}
.tubs-node {
  display: block;
  cursor: pointer;
}
.tubs-content {
  display: none;
}
.tubs-content--active {
  display: block;
}
.accordion-toggler {
  cursor: pointer;
}
.accordion-content {
  display: block;
}
.accordion-content--collapse {
  display: none;
}
.quantity {
  position: relative;
  display: inline-block;
}
.quantity:after {
  clear: both;
  content: "";
  display: block;
}
.quantity-button {
  text-align: center;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.quantity-button > .fa {
  vertical-align: middle;
}
.quantity-input {
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  border: 1px solid;
  text-align: center;
  line-height: inherit;
  vertical-align: middle;
}
.quantity--inline .quantity-button {
  display: inline-block;
  border: 1px solid transparent;
  line-height: inherit;
  vertical-align: middle;
}
.quantity--side .quantity-button {
  position: absolute;
  right: 0;
  box-sizing: border-box;
}
.quantity--side .quantity-button--minus {
  bottom: 0;
}
.quantity--side .quantity-button--plus {
  top: 0;
}
.quantity--side .quantity-input {
  height: inherit;
}
.modal {
  position: fixed;
  z-index: 1050;
  max-width: 95%;
  max-height: 95%;
  overflow-y: auto;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1040;
}
.overlay--opacity {
  background-color: transparent !important;
}
/* breadcrumbs */
.pagination {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.pagination:after {
  clear: both;
  content: "";
  display: block;
}
.pagination-page {
  display: block;
}
.pagination-node {
  display: block;
  text-align: center;
  vertical-align: middle;
}
.pagination-node--link:hover {
  cursor: pointer;
}
.pagination--horizontal > .pagination-page {
  float: left;
}
.reviews-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.reviews-link {
  cursor: pointer;
}
.review {
  display: block;
  margin-bottom: 1rem;
}
.review:last-child {
  margin-bottom: 0;
}
.review-details {
  margin-bottom: 0.5rem;
}
.review-details:after {
  clear: both;
  content: "";
  display: block;
}
.review-rating {
  margin-bottom: 0.5rem;
}
.review-content {
  margin-bottom: 0.5rem;
}
.review_form-toggle {
  cursor: pointer;
}
.review_form-input {
  margin-bottom: 0.5rem;
}
.review_form-input:last-child {
  margin-bottom: 0;
}
.review_form-submit {
  cursor: pointer;
}
script[type="text/template"] {
  display: none;
}
body {
  min-width: 320px;
}
body.body--lock_scroll {
  -webkit-overflow-scrolling: touch;
  left: 0;
  top: 50%;
  position: fixed;
  width: 100%;
}
.sidebar_block:last-child {
  margin-bottom: 0;
}
.fc:after {
  clear: both;
  content: "";
  display: block;
}
.ac_results {
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
}
.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}
.ac_results li {
  margin: 0px;
  padding: 2px 5px;
  cursor: default;
  display: block;
  /*
  if width will be 100% horizontal scrollbar will apear
  when scroll mode will be used
  */
  /*width: 100%;*/
  font: menu;
  font-size: 12px;
  /*
  it is very important, if line-height not setted or setted
  in relative units scroll will be broken in firefox
  */
  line-height: 16px;
  overflow: hidden;
}
.ac_loading {
  background: white url('/served_assets/ajax_indicator.gif') right center no-repeat;
}
.ac_odd {
  background-color: #eee;
}
.ac_over {
  background-color: #0A246A;
  color: white;
}
.collection-description:after {
  clear: both;
  content: "";
  display: block;
}
.collection-seo_description:after {
  clear: both;
  content: "";
  display: block;
}
.collection-products_list:after {
  clear: both;
  content: "";
  display: block;
}
.collection-subcollection_list:after {
  clear: both;
  content: "";
  display: block;
}
.filter {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.filter:after {
  clear: both;
  content: "";
  display: block;
}
.filter--vertical .filter-section {
  display: block;
}
.filter-section {
  position: relative;
  margin-bottom: 0.5rem;
}
.filter-clear_all {
  cursor: pointer;
}
.filter-section_toggler {
  cursor: pointer;
}
.filter-hidden_sections {
  display: none;
}
.filter-submit {
  cursor: pointer;
}
.filter_section {
  position: relative;
  /* mod */
}
.filter_section-title {
  display: block;
  position: relative;
  margin-bottom: 0.5rem;
}
.filter_section-toggler {
  cursor: pointer;
}
.filter_section-values {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.filter_section-values--horizontal .filter-value {
  display: inline-block;
}
.filter_section-values--collapse {
  display: none;
}
.filter_section-value {
  display: block;
}
.filter_section-value--range {
  margin: 1rem 0.5rem;
}
.filter_section-clear {
  cursor: pointer;
}
.filter_section-range_input {
  padding: 0;
  width: 60px;
  text-align: center;
  line-height: inherit;
}
/* noUI slider */
.noUi {
  /* Handles and cursors;
   */
  /* Disabled state;
   */
}
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
  direction: ltr;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  /* Painting and performance;
     * Browsers can paint handles in their own layer.
     */
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
  cursor: default;
}
.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
       * its values is > 50%.
       */
  z-index: 10;
}
.noUi-stacking + .noUi-origin {
  /* Fix stacking order in IE7, which incorrectly
       * creates a new context for the origins.
       */
  *z-index: -1;
}
.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
.noUi-dragable {
  cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}
.noUi [disabled].noUi-connect,
.noUi [disabled] .noUi-connect {
  background: #B8B8B8;
}
.noUi [disabled] .noUi-handle {
  cursor: not-allowed;
}
.sort_by:after {
  clear: both;
  content: "";
  display: block;
}
.sort_by-label {
  display: inline-block;
  line-height: inherit;
}
.sort_by-select {
  display: inline-block;
  line-height: inherit;
}
.product-sku {
  margin-bottom: 0.5rem;
}
.product-sku_field {
  margin-bottom: 0.5rem;
}
.product-presence {
  margin-bottom: 0.5rem;
}
.product-short_description {
  margin-bottom: 0.5rem;
}
.product-description {
  margin-bottom: 0.5rem;
}
.product-properties {
  margin-bottom: 0.5rem;
}
.product-variants {
  margin-bottom: 0.5rem;
}
.product-prices {
  margin-bottom: 0.5rem;
}
.product-quantity {
  margin-bottom: 0.5rem;
}
.product-buy {
  margin-bottom: 0.5rem;
}
.gallery-large_image {
  text-align: center;
}
.option_selector {
  margin-bottom: 0.5rem;
}
.option_selector-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.variant-span {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
.variant-radio {
  margin-bottom: 5px;
}
.variant-radio_switch {
  cursor: pointer;
}
.variant-radio_label {
  cursor: pointer;
}
.variant-select {
  cursor: pointer;
}
.variant-color {
  display: inline-block;
  cursor: pointer;
}
.variant-image {
  display: inline-block;
  cursor: pointer;
}
.gallery:after {
  clear: both;
  content: "";
  display: block;
}
.gallery-preview_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.gallery-preview_list:after {
  clear: both;
  content: "";
  display: block;
}
.gallery-preview_list--horizontal > .gallery-preview {
  display: inline-block;
}
.gallery-preview {
  display: block;
}
.gallery-image {
  display: block;
}
.product_preview {
  position: relative;
}
.product_preview:after {
  clear: both;
  content: "";
  display: block;
}
.product_preview-preview {
  position: relative;
}
.product_preview-tip {
  position: absolute;
}
.product_preview-link {
  display: block;
}
.product_preview-title {
  display: block;
}
.cart-table_container:after {
  clear: both;
  content: "";
  display: block;
}
.cart-items_list:after {
  clear: both;
  content: "";
  display: block;
}
.cart-empty_notice {
  display: none;
}
.cart_item:after {
  clear: both;
  content: "";
  display: block;
}
.cart_item-delete {
  cursor: pointer;
}
.cart_total:after {
  clear: both;
  content: "";
  display: block;
}
.discounts:after {
  clear: both;
  content: "";
  display: block;
}
.discounts-field {
  width: 130px;
}
.discounts-submit {
  vertical-align: top;
}
.discounts-notice {
  display: none;
}
.discount {
  margin-bottom: 0.5rem;
}
.discount:after {
  clear: both;
  content: "";
  display: block;
}
.discount:last-child {
  margin: 0;
}
.cart_widget {
  position: relative;
}
.cart_widget:after {
  clear: both;
  content: "";
  display: block;
}
.cart_widget-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: none;
  text-align: left;
}
.cart_widget:hover .cart_widget-dropdown {
  display: block;
}
.basket_list-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.basket_list-submit {
  cursor: pointer;
}
.basket_item {
  position: relative;
  margin-bottom: 0.5rem;
}
.basket_item:after {
  clear: both;
  content: "";
  display: block;
}
.basket_item:last-child {
  margin-bottom: 0;
}
.basket_item-image {
  float: left;
}
.basket_item-delete {
  cursor: pointer;
  float: right;
}
.basket_item-price:after {
  content: none;
}
.search-products_list:after {
  clear: both;
  content: "";
  display: block;
}
.search_widget {
  display: inline-block;
}
.search_widget-field {
  display: inline-block;
  height: inherit;
  padding: 0 0.5rem;
  line-height: inherit;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
}
.search_widget-submit {
  display: inline-block;
  padding: 0;
  height: inherit;
  border: 1px solid transparent;
  background-color: transparent;
  line-height: inherit;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.search_widget-submit--disabled,
.search_widget-submit[disabled] {
  cursor: not-allowed;
}
.ajax_search-wrapper {
  position: relative;
}
.ajax_search-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
}
.ajax_search-item {
  display: block;
  text-align: left;
}
.compare-wrapper {
  overflow-x: auto;
}
.compare-toggle_same {
  cursor: pointer;
}
.compare-remove {
  cursor: pointer;
}
.compare-notice {
  display: none;
}
.compare_row {
  display: table-row;
}
.compare_row:after {
  clear: both;
  content: "";
  display: block;
}
.compare_row-title {
  display: table-cell;
  vertical-align: top;
}
.compare_row-item {
  display: table-cell;
  vertical-align: top;
}
.blog-article_list:after {
  clear: both;
  content: "";
  display: block;
}
.article:after {
  clear: both;
  content: "";
  display: block;
}
.article-note {
  margin-bottom: 0.5rem;
}
.article-content {
  margin-bottom: 0.5rem;
}
.article_preview {
  margin-bottom: 0.5rem;
}
.article_preview:after {
  clear: both;
  content: "";
  display: block;
}
.language_switch {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.language_switch:after {
  clear: both;
  content: "";
  display: block;
}
.language_switch-node {
  box-sizing: border-box;
  display: block;
  position: relative;
}
.language_switch-link {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
.language_switch-toggler {
  cursor: pointer;
}
.language_switch--dropdown {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
}
.language_switch-node:hover > .language_switch--dropdown {
  display: block;
}
.language_switch--side {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1000;
  display: none;
}
.language_switch-node:hover > .language_switch--side {
  display: block;
}
.language_switch--vertical > .language_switch-node {
  float: left;
}
.language_switch--horizontal > .language_switch-node {
  width: 100%;
}
.social_links:after {
  clear: both;
  content: "";
  display: block;
}
.social_links-link {
  display: inline-block;
}
.social_links:after {
  clear: both;
  content: "";
  display: block;
}
.social_links-link {
  display: inline-block;
}
.payments:after {
  clear: both;
  content: "";
  display: block;
}
.payments-method {
  display: inline-block;
}
