/* layouts */

html{}

body{}

a{
  &:hover{}
}

/* common class */

.wrap{
  max-width: 1200px;
}

.content-title{}

#own_preloader{}

.mobile_panel{}

.lock_scroll{
  left: 0;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  //top: 0;
  width: 100%;
}
