.row:after,
.grid-row:after,
.grid-row-inner:after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}
.grid-row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.grid-row-inner {
  margin-left: -1rem;
  margin-right: -1rem;
}
.wrap {
  margin-left: auto;
  margin-right: auto;
}
@media all {
  .grid-1,
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12 {
    margin: 0;
    clear: none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .grid-1 {
    width: 8.33333333%;
  }
  .offset-1 {
    margin-left: 8.33333333%;
  }
  .grid-2 {
    width: 16.66666667%;
  }
  .offset-2 {
    margin-left: 16.66666667%;
  }
  .grid-3 {
    width: 25%;
  }
  .offset-3 {
    margin-left: 25%;
  }
  .grid-4 {
    width: 33.33333333%;
  }
  .offset-4 {
    margin-left: 33.33333333%;
  }
  .grid-5 {
    width: 41.66666667%;
  }
  .offset-5 {
    margin-left: 41.66666667%;
  }
  .grid-6 {
    width: 50%;
  }
  .offset-6 {
    margin-left: 50%;
  }
  .grid-7 {
    width: 58.33333333%;
  }
  .offset-7 {
    margin-left: 58.33333333%;
  }
  .grid-8 {
    width: 66.66666667%;
  }
  .offset-8 {
    margin-left: 66.66666667%;
  }
  .grid-9 {
    width: 75%;
  }
  .offset-9 {
    margin-left: 75%;
  }
  .grid-10 {
    width: 83.33333333%;
  }
  .offset-10 {
    margin-left: 83.33333333%;
  }
  .grid-11 {
    width: 91.66666667%;
  }
  .offset-11 {
    margin-left: 91.66666667%;
  }
  .grid-12 {
    width: 100%;
  }
  .offset-12 {
    margin-left: 100%;
  }
  .padded {
    padding: .5rem;
  }
  .padded-left {
    padding-left: .5rem;
  }
  .padded-right {
    padding-right: .5rem;
  }
  .padded-top {
    padding-top: .5rem;
  }
  .padded-bottom {
    padding-bottom: .5rem;
  }
  .padded-sides {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .padded-vertical {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .padded-inner {
    padding: 1rem;
  }
  .padded-inner-left {
    padding-left: 1rem;
  }
  .padded-inner-right {
    padding-right: 1rem;
  }
  .padded-inner-top {
    padding-top: 1rem;
  }
  .padded-inner-bottom {
    padding-bottom: 1rem;
  }
  .padded-inner-sides {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .padded-inner-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .padded-reverse {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .padded-reverse-all {
    margin: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .fl,
  .flow {
    float: left;
  }
  .fr,
  .flow-opposite {
    float: right;
  }
  .center {
    text-align: center;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .hidden {
    display: none !important;
  }
  .visible {
    display: block !important;
  }
}
@media all {
  .lg-grid-1,
  .lg-grid-1,
  .lg-grid-2,
  .lg-grid-3,
  .lg-grid-4,
  .lg-grid-5,
  .lg-grid-6,
  .lg-grid-7,
  .lg-grid-8,
  .lg-grid-9,
  .lg-grid-10,
  .lg-grid-11,
  .lg-grid-12 {
    margin: 0;
    clear: none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .lg-grid-1 {
    width: 8.33333333%;
  }
  .lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .lg-grid-2 {
    width: 16.66666667%;
  }
  .lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .lg-grid-3 {
    width: 25%;
  }
  .lg-offset-3 {
    margin-left: 25%;
  }
  .lg-grid-4 {
    width: 33.33333333%;
  }
  .lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .lg-grid-5 {
    width: 41.66666667%;
  }
  .lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .lg-grid-6 {
    width: 50%;
  }
  .lg-offset-6 {
    margin-left: 50%;
  }
  .lg-grid-7 {
    width: 58.33333333%;
  }
  .lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .lg-grid-8 {
    width: 66.66666667%;
  }
  .lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .lg-grid-9 {
    width: 75%;
  }
  .lg-offset-9 {
    margin-left: 75%;
  }
  .lg-grid-10 {
    width: 83.33333333%;
  }
  .lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .lg-grid-11 {
    width: 91.66666667%;
  }
  .lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .lg-grid-12 {
    width: 100%;
  }
  .lg-offset-12 {
    margin-left: 100%;
  }
  .lg-padded {
    padding: .5rem;
  }
  .lg-padded-left {
    padding-left: .5rem;
  }
  .lg-padded-right {
    padding-right: .5rem;
  }
  .lg-padded-top {
    padding-top: .5rem;
  }
  .lg-padded-bottom {
    padding-bottom: .5rem;
  }
  .lg-padded-sides {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .lg-padded-vertical {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .lg-padded-inner {
    padding: 1rem;
  }
  .lg-padded-inner-left {
    padding-left: 1rem;
  }
  .lg-padded-inner-right {
    padding-right: 1rem;
  }
  .lg-padded-inner-top {
    padding-top: 1rem;
  }
  .lg-padded-inner-bottom {
    padding-bottom: 1rem;
  }
  .lg-padded-inner-sides {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .lg-padded-inner-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .lg-padded-reverse {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .lg-padded-reverse-all {
    margin: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .lg-fl,
  .lg-flow {
    float: left;
  }
  .lg-fr,
  .lg-flow-opposite {
    float: right;
  }
  .lg-center {
    text-align: center;
  }
  .lg-left {
    text-align: left;
  }
  .lg-right {
    text-align: right;
  }
}
@media all and (min-width: 1101px) {
  .lg-hidden {
    display: none !important;
  }
  .lg-visible {
    display: block !important;
  }
}
@media (max-width: 1100px) {
  .md-grid-1,
  .md-grid-1,
  .md-grid-2,
  .md-grid-3,
  .md-grid-4,
  .md-grid-5,
  .md-grid-6,
  .md-grid-7,
  .md-grid-8,
  .md-grid-9,
  .md-grid-10,
  .md-grid-11,
  .md-grid-12 {
    margin: 0;
    clear: none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .md-grid-1 {
    width: 8.33333333%;
  }
  .md-offset-1 {
    margin-left: 8.33333333%;
  }
  .md-grid-2 {
    width: 16.66666667%;
  }
  .md-offset-2 {
    margin-left: 16.66666667%;
  }
  .md-grid-3 {
    width: 25%;
  }
  .md-offset-3 {
    margin-left: 25%;
  }
  .md-grid-4 {
    width: 33.33333333%;
  }
  .md-offset-4 {
    margin-left: 33.33333333%;
  }
  .md-grid-5 {
    width: 41.66666667%;
  }
  .md-offset-5 {
    margin-left: 41.66666667%;
  }
  .md-grid-6 {
    width: 50%;
  }
  .md-offset-6 {
    margin-left: 50%;
  }
  .md-grid-7 {
    width: 58.33333333%;
  }
  .md-offset-7 {
    margin-left: 58.33333333%;
  }
  .md-grid-8 {
    width: 66.66666667%;
  }
  .md-offset-8 {
    margin-left: 66.66666667%;
  }
  .md-grid-9 {
    width: 75%;
  }
  .md-offset-9 {
    margin-left: 75%;
  }
  .md-grid-10 {
    width: 83.33333333%;
  }
  .md-offset-10 {
    margin-left: 83.33333333%;
  }
  .md-grid-11 {
    width: 91.66666667%;
  }
  .md-offset-11 {
    margin-left: 91.66666667%;
  }
  .md-grid-12 {
    width: 100%;
  }
  .md-offset-12 {
    margin-left: 100%;
  }
  .md-padded {
    padding: .5rem;
  }
  .md-padded-left {
    padding-left: .5rem;
  }
  .md-padded-right {
    padding-right: .5rem;
  }
  .md-padded-top {
    padding-top: .5rem;
  }
  .md-padded-bottom {
    padding-bottom: .5rem;
  }
  .md-padded-sides {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .md-padded-vertical {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .md-padded-inner {
    padding: 1rem;
  }
  .md-padded-inner-left {
    padding-left: 1rem;
  }
  .md-padded-inner-right {
    padding-right: 1rem;
  }
  .md-padded-inner-top {
    padding-top: 1rem;
  }
  .md-padded-inner-bottom {
    padding-bottom: 1rem;
  }
  .md-padded-inner-sides {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .md-padded-inner-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .md-padded-reverse {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .md-padded-reverse-all {
    margin: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .md-fl,
  .md-flow {
    float: left;
  }
  .md-fr,
  .md-flow-opposite {
    float: right;
  }
  .md-center {
    text-align: center;
  }
  .md-left {
    text-align: left;
  }
  .md-right {
    text-align: right;
  }
}
@media (min-width: 801px) and (max-width: 1100px) {
  .md-hidden {
    display: none !important;
  }
  .md-visible {
    display: block !important;
  }
}
@media (max-width: 800px) {
  .sm-grid-1,
  .sm-grid-1,
  .sm-grid-2,
  .sm-grid-3,
  .sm-grid-4,
  .sm-grid-5,
  .sm-grid-6,
  .sm-grid-7,
  .sm-grid-8,
  .sm-grid-9,
  .sm-grid-10,
  .sm-grid-11,
  .sm-grid-12 {
    margin: 0;
    clear: none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .sm-grid-1 {
    width: 8.33333333%;
  }
  .sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .sm-grid-2 {
    width: 16.66666667%;
  }
  .sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .sm-grid-3 {
    width: 25%;
  }
  .sm-offset-3 {
    margin-left: 25%;
  }
  .sm-grid-4 {
    width: 33.33333333%;
  }
  .sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .sm-grid-5 {
    width: 41.66666667%;
  }
  .sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .sm-grid-6 {
    width: 50%;
  }
  .sm-offset-6 {
    margin-left: 50%;
  }
  .sm-grid-7 {
    width: 58.33333333%;
  }
  .sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .sm-grid-8 {
    width: 66.66666667%;
  }
  .sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .sm-grid-9 {
    width: 75%;
  }
  .sm-offset-9 {
    margin-left: 75%;
  }
  .sm-grid-10 {
    width: 83.33333333%;
  }
  .sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .sm-grid-11 {
    width: 91.66666667%;
  }
  .sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .sm-grid-12 {
    width: 100%;
  }
  .sm-offset-12 {
    margin-left: 100%;
  }
  .sm-padded {
    padding: .5rem;
  }
  .sm-padded-left {
    padding-left: .5rem;
  }
  .sm-padded-right {
    padding-right: .5rem;
  }
  .sm-padded-top {
    padding-top: .5rem;
  }
  .sm-padded-bottom {
    padding-bottom: .5rem;
  }
  .sm-padded-sides {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .sm-padded-vertical {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .sm-padded-inner {
    padding: 1rem;
  }
  .sm-padded-inner-left {
    padding-left: 1rem;
  }
  .sm-padded-inner-right {
    padding-right: 1rem;
  }
  .sm-padded-inner-top {
    padding-top: 1rem;
  }
  .sm-padded-inner-bottom {
    padding-bottom: 1rem;
  }
  .sm-padded-inner-sides {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sm-padded-inner-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .sm-padded-reverse {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .sm-padded-reverse-all {
    margin: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .sm-fl,
  .sm-flow {
    float: left;
  }
  .sm-fr,
  .sm-flow-opposite {
    float: right;
  }
  .sm-center {
    text-align: center;
  }
  .sm-left {
    text-align: left;
  }
  .sm-right {
    text-align: right;
  }
}
@media (min-width: 641px) and (max-width: 800px) {
  .sm-hidden {
    display: none !important;
  }
  .sm-visible {
    display: block !important;
  }
}
@media (max-width: 640px) {
  .xs-grid-1,
  .xs-grid-1,
  .xs-grid-2,
  .xs-grid-3,
  .xs-grid-4,
  .xs-grid-5,
  .xs-grid-6,
  .xs-grid-7,
  .xs-grid-8,
  .xs-grid-9,
  .xs-grid-10,
  .xs-grid-11,
  .xs-grid-12 {
    margin: 0;
    clear: none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .xs-grid-1 {
    width: 8.33333333%;
  }
  .xs-offset-1 {
    margin-left: 8.33333333%;
  }
  .xs-grid-2 {
    width: 16.66666667%;
  }
  .xs-offset-2 {
    margin-left: 16.66666667%;
  }
  .xs-grid-3 {
    width: 25%;
  }
  .xs-offset-3 {
    margin-left: 25%;
  }
  .xs-grid-4 {
    width: 33.33333333%;
  }
  .xs-offset-4 {
    margin-left: 33.33333333%;
  }
  .xs-grid-5 {
    width: 41.66666667%;
  }
  .xs-offset-5 {
    margin-left: 41.66666667%;
  }
  .xs-grid-6 {
    width: 50%;
  }
  .xs-offset-6 {
    margin-left: 50%;
  }
  .xs-grid-7 {
    width: 58.33333333%;
  }
  .xs-offset-7 {
    margin-left: 58.33333333%;
  }
  .xs-grid-8 {
    width: 66.66666667%;
  }
  .xs-offset-8 {
    margin-left: 66.66666667%;
  }
  .xs-grid-9 {
    width: 75%;
  }
  .xs-offset-9 {
    margin-left: 75%;
  }
  .xs-grid-10 {
    width: 83.33333333%;
  }
  .xs-offset-10 {
    margin-left: 83.33333333%;
  }
  .xs-grid-11 {
    width: 91.66666667%;
  }
  .xs-offset-11 {
    margin-left: 91.66666667%;
  }
  .xs-grid-12 {
    width: 100%;
  }
  .xs-offset-12 {
    margin-left: 100%;
  }
  .xs-padded {
    padding: .5rem;
  }
  .xs-padded-left {
    padding-left: .5rem;
  }
  .xs-padded-right {
    padding-right: .5rem;
  }
  .xs-padded-top {
    padding-top: .5rem;
  }
  .xs-padded-bottom {
    padding-bottom: .5rem;
  }
  .xs-padded-sides {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .xs-padded-vertical {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .xs-padded-inner {
    padding: 1rem;
  }
  .xs-padded-inner-left {
    padding-left: 1rem;
  }
  .xs-padded-inner-right {
    padding-right: 1rem;
  }
  .xs-padded-inner-top {
    padding-top: 1rem;
  }
  .xs-padded-inner-bottom {
    padding-bottom: 1rem;
  }
  .xs-padded-inner-sides {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .xs-padded-inner-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .xs-padded-reverse {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .xs-padded-reverse-all {
    margin: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .xs-fl,
  .xs-flow {
    float: left;
  }
  .xs-fr,
  .xs-flow-opposite {
    float: right;
  }
  .xs-center {
    text-align: center;
  }
  .xs-left {
    text-align: left;
  }
  .xs-right {
    text-align: right;
  }
}
@media (max-width: 640px) {
  .xs-hidden {
    display: none !important;
  }
  .xs-visible {
    display: block !important;
  }
}
@media (max-width: 480px) {
  .mc-grid-1,
  .mc-grid-1,
  .mc-grid-2,
  .mc-grid-3,
  .mc-grid-4,
  .mc-grid-5,
  .mc-grid-6,
  .mc-grid-7,
  .mc-grid-8,
  .mc-grid-9,
  .mc-grid-10,
  .mc-grid-11,
  .mc-grid-12 {
    margin: 0;
    clear: none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mc-grid-1 {
    width: 8.33333333%;
  }
  .mc-offset-1 {
    margin-left: 8.33333333%;
  }
  .mc-grid-2 {
    width: 16.66666667%;
  }
  .mc-offset-2 {
    margin-left: 16.66666667%;
  }
  .mc-grid-3 {
    width: 25%;
  }
  .mc-offset-3 {
    margin-left: 25%;
  }
  .mc-grid-4 {
    width: 33.33333333%;
  }
  .mc-offset-4 {
    margin-left: 33.33333333%;
  }
  .mc-grid-5 {
    width: 41.66666667%;
  }
  .mc-offset-5 {
    margin-left: 41.66666667%;
  }
  .mc-grid-6 {
    width: 50%;
  }
  .mc-offset-6 {
    margin-left: 50%;
  }
  .mc-grid-7 {
    width: 58.33333333%;
  }
  .mc-offset-7 {
    margin-left: 58.33333333%;
  }
  .mc-grid-8 {
    width: 66.66666667%;
  }
  .mc-offset-8 {
    margin-left: 66.66666667%;
  }
  .mc-grid-9 {
    width: 75%;
  }
  .mc-offset-9 {
    margin-left: 75%;
  }
  .mc-grid-10 {
    width: 83.33333333%;
  }
  .mc-offset-10 {
    margin-left: 83.33333333%;
  }
  .mc-grid-11 {
    width: 91.66666667%;
  }
  .mc-offset-11 {
    margin-left: 91.66666667%;
  }
  .mc-grid-12 {
    width: 100%;
  }
  .mc-offset-12 {
    margin-left: 100%;
  }
  .mc-padded {
    padding: .5rem;
  }
  .mc-padded-left {
    padding-left: .5rem;
  }
  .mc-padded-right {
    padding-right: .5rem;
  }
  .mc-padded-top {
    padding-top: .5rem;
  }
  .mc-padded-bottom {
    padding-bottom: .5rem;
  }
  .mc-padded-sides {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .mc-padded-vertical {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .mc-padded-inner {
    padding: 1rem;
  }
  .mc-padded-inner-left {
    padding-left: 1rem;
  }
  .mc-padded-inner-right {
    padding-right: 1rem;
  }
  .mc-padded-inner-top {
    padding-top: 1rem;
  }
  .mc-padded-inner-bottom {
    padding-bottom: 1rem;
  }
  .mc-padded-inner-sides {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .mc-padded-inner-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .mc-padded-reverse {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .mc-padded-reverse-all {
    margin: -0.5rem;
    width: auto;
    box-sizing: content-box;
    float: none;
  }
  .mc-fl,
  .mc-flow {
    float: left;
  }
  .mc-fr,
  .mc-flow-opposite {
    float: right;
  }
  .mc-center {
    text-align: center;
  }
  .mc-left {
    text-align: left;
  }
  .mc-right {
    text-align: right;
  }
}
@media (max-width: 480px) {
  .mc-hidden {
    display: none !important;
  }
  .mc-visible {
    display: block !important;
  }
}
/**/
.image {
  /*
  &-wrapper{
    position: relative;

    &:before{
      content: '';
      display: block;
      padding: 100% 100% 0 0;
    }

    .cart_item &,
    .article_preview-preview &,
    .product_preview-preview &{
      overflow: hidden;
      max-height: 240px;
    }
  }
  */
}
.image-square,
.image-circle {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
.image-square img,
.image-circle img {
  display: inline-block !important;
  width: auto !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.image-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
}
.button--disabled,
.button[disabled] {
  cursor: not-allowed;
}
.input {
  margin-bottom: 1em;
}
.input:after {
  clear: both;
  content: "";
  display: block;
}
.input:last-child {
  margin-bottom: 0;
}
.input-label {
  display: block;
  margin-bottom: 0.5em;
}
.input-field {
  display: block;
  width: 100%;
  border: 1px solid;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  box-sizing: border-box;
}
.input-notice {
  display: none;
  margin-top: 0.5em;
}
.input-captcha {
  display: inline-block;
}
.input--inline > .input-label {
  display: inline-block;
  line-height: inherit;
  border: 1px solid initial;
  vertical-align: middle;
  margin-bottom: 0;
}
.input--inline > .input-field {
  display: inline-block;
  line-height: inherit;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}
.input--inline > .input-captcha {
  display: inline-block;
}
.input--inline > .input-button {
  display: inline-block;
  line-height: inherit;
  border: 1px solid transparent;
  vertical-align: middle;
}
.input--error > .input-field {
  border-color: #ebccd1;
  background-color: #f2dede;
}
.input--error > .input-notice {
  display: block;
}
.input--required .input-label:after {
  content: '*';
  color: red;
}
.input--captcha .input-field {
  display: inline-block;
  line-height: inherit;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  width: 125px;
}
.styled_select-wrapper {
  position: relative;
  display: inline-block;
  min-width: 50px;
  overflow: hidden;
  vertical-align: middle;
  z-index: 0;
}
.styled_select-wrapper:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  line-height: inherit;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f078";
}
.styled_select-wrapper select {
  position: relative;
  display: inline-block;
  width: 160%;
  border: none;
  background-color: transparent;
  z-index: 1;
  line-height: inherit;
  cursor: pointer;
}
.notice {
  padding: 0.5em;
  margin-bottom: 1em;
}
.notice:last-child {
  margin-bottom: 0;
}
.notice--success {
  color: #3c763d;
  background-color: #dff0d8;
}
.notice--info {
  color: #31708f;
  background-color: #d9edf7;
}
.notice--warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}
.notice--danger {
  color: #a94442;
  background-color: #f2dede;
}
.prices:after {
  clear: both;
  content: "";
  display: block;
}
.prices--inline > .prices-current,
.prices--inline > .prices-old {
  display: inline-block;
}
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.menu:after {
  clear: both;
  content: "";
  display: block;
}
.menu-node {
  position: relative;
  box-sizing: border-box;
  display: block;
}
.menu-link {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.menu-marker {
  position: absolute;
  display: block;
  top: 0;
  box-sizing: border-box;
}
.menu-toggler {
  cursor: pointer;
}
.menu--horizontal > .menu-node {
  float: left;
}
.menu--dropdown {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
}
.menu-node:hover > .menu--dropdown {
  display: block;
}
.menu--side {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1000;
  display: none;
}
.menu-node:hover > .menu--side {
  display: block;
}
.menu--fixed {
  position: fixed;
  z-index: 1030;
}
.menu--collapse {
  display: none;
}
.js-menu-toggler {
  cursor: pointer;
}
.slider {
  position: relative;
}
.slider-container:after {
  clear: both;
  content: "";
  display: block;
}
.slider-control {
  position: relative;
}
.slider-left {
  left: 0;
  cursor: pointer;
}
.slider-right {
  right: 0;
  cursor: pointer;
}
.slider-up {
  position: absolute;
  top: 0;
  cursor: pointer;
}
.slider-down {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.slider--index .slider-image {
  display: block;
  width: 100%;
}
.slider--index .slider-image img {
  width: 100%;
}
.slider--index .slider-image + .slider-image {
  display: none;
}
.tubs:after {
  clear: both;
  content: "";
  display: block;
}
.tubs-controls {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.tubs-controls:after {
  clear: both;
  content: "";
  display: block;
}
.tubs-controls--horizontal > .tubs-node {
  float: left;
}
.tubs-node {
  display: block;
  cursor: pointer;
}
.tubs-content {
  display: none;
}
.tubs-content--active {
  display: block;
}
.accordion-toggler {
  cursor: pointer;
}
.accordion-content {
  display: block;
}
.accordion-content--collapse {
  display: none;
}
.quantity {
  position: relative;
  display: inline-block;
}
.quantity:after {
  clear: both;
  content: "";
  display: block;
}
.quantity-button {
  text-align: center;
  cursor: pointer;
}
.quantity-input {
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  border: 1px solid;
  text-align: center;
  line-height: inherit;
  vertical-align: middle;
}
.quantity--inline .quantity-button {
  display: inline-block;
  border: 1px solid transparent;
  line-height: inherit;
  vertical-align: middle;
}
.quantity--side .quantity-button {
  position: absolute;
}
.quantity--side .quantity-input {
  display: block;
}
.modal {
  position: fixed;
  z-index: 1050;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1040;
}
.overlay--opacity {
  background-color: transparent !important;
}
.pagination {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.pagination:after {
  clear: both;
  content: "";
  display: block;
}
.pagination-page {
  display: block;
}
.pagination-node {
  display: block;
  text-align: center;
  vertical-align: middle;
}
.pagination-node--link:hover {
  cursor: pointer;
}
.pagination--horizontal > .pagination-page {
  float: left;
}
.reviews-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.reviews-link {
  cursor: pointer;
}
.review {
  display: block;
  margin-bottom: 1em;
}
.review:last-child {
  margin-bottom: 0;
}
.review-details {
  margin-bottom: 0.5em;
}
.review-details:after {
  clear: both;
  content: "";
  display: block;
}
.review-rating {
  margin-bottom: 0.5em;
}
.review-content {
  margin-bottom: 0.5em;
}
.review_form-toggle {
  cursor: pointer;
}
.review_form-input {
  margin-bottom: 1em;
}
.review_form-input:last-child {
  margin-bottom: 0;
}
.review_form-submit {
  cursor: pointer;
}
script[type="text/template"] {
  display: none;
}
img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
body {
  min-width: 320px;
}
#own_preloader {
  position: fixed;
  z-index: 1070;
}
.lock_scroll {
  left: 0;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  width: 100%;
}
.collection-description:after {
  clear: both;
  content: "";
  display: block;
}
.collection-seo_description:after {
  clear: both;
  content: "";
  display: block;
}
.collection-products_list:after {
  clear: both;
  content: "";
  display: block;
}
.collection-subcollection_list:after {
  clear: both;
  content: "";
  display: block;
}
.filter {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.filter:after {
  clear: both;
  content: "";
  display: block;
}
.filter--vertical .filter-section {
  display: block;
}
.filter-section {
  position: relative;
  margin-bottom: 1em;
}
.filter-section:last-of-type {
  margin-bottom: 0;
}
.filter-clear_all {
  cursor: pointer;
}
.filter-section_toggler {
  cursor: pointer;
}
.filter--hidden_sections {
  display: none;
}
.filter-submit {
  cursor: pointer;
}
.filter_section {
  position: relative;
  /* mod */
}
.filter_section-title {
  display: block;
  position: relative;
}
.filter_section-toggler {
  cursor: pointer;
}
.filter_section-values {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.filter_section-values--horizontal .filter-value {
  display: inline-block;
}
.filter_section-values--collapse {
  display: none;
}
.filter_section-value {
  display: block;
}
.filter_section-value--range {
  margin: 1em 0.5em;
}
.filter_section-clear {
  cursor: pointer;
}
.filter_section-range_input {
  padding: 0;
  width: 60px;
  text-align: center;
  line-height: inherit;
}
.sort_by:after {
  clear: both;
  content: "";
  display: block;
}
.sort_by-label {
  display: inline-block;
  line-height: inherit;
}
.sort_by-select {
  display: inline-block;
  line-height: inherit;
}
.product-sku {
  margin-bottom: 1em;
}
.product-sku_field {
  margin-bottom: 1em;
}
.product-presence {
  margin-bottom: 1em;
}
.product-short_description {
  margin-bottom: 1em;
}
.product-description {
  margin-bottom: 1em;
}
.product-properties {
  margin-bottom: 1em;
}
.product-variants {
  margin-bottom: 1em;
}
.product-prices {
  margin-bottom: 1em;
}
.product-quantity {
  margin-bottom: 1em;
}
.gallery-large_image {
  text-align: center;
}
.option_selector {
  margin-bottom: 1em;
}
.option_selector-label {
  display: inline-block;
  margin-bottom: 0.5em;
}
.variant-span {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
.variant-radio {
  margin-bottom: 5px;
}
.variant-radio_switch {
  cursor: pointer;
}
.variant-radio_label {
  cursor: pointer;
}
.variant-select {
  cursor: pointer;
}
.variant-color {
  display: inline-block;
  cursor: pointer;
}
.variant-image {
  display: inline-block;
  cursor: pointer;
}
.gallery:after {
  clear: both;
  content: "";
  display: block;
}
.gallery-preview_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.gallery-preview_list:after {
  clear: both;
  content: "";
  display: block;
}
.gallery-preview_list--horizontal > .gallery-preview {
  display: inline-block;
}
.gallery-preview {
  display: block;
}
.gallery-image {
  display: block;
}
.product_preview {
  position: relative;
}
.product_preview:after {
  clear: both;
  content: "";
  display: block;
}
.product_preview-preview {
  position: relative;
}
.product_preview-tip {
  position: absolute;
}
.product_preview-link {
  display: block;
}
.product_preview-title {
  display: block;
}
.cart-table_container:after {
  clear: both;
  content: "";
  display: block;
}
.cart-items_list:after {
  clear: both;
  content: "";
  display: block;
}
.cart_item:after {
  clear: both;
  content: "";
  display: block;
}
.cart_item-delete {
  cursor: pointer;
}
.cart_total:after {
  clear: both;
  content: "";
  display: block;
}
.discounts:after {
  clear: both;
  content: "";
  display: block;
}
.discounts-field {
  width: 150px;
}
.discounts-notice {
  display: none;
}
.discount {
  margin-bottom: 1em;
}
.discount:after {
  clear: both;
  content: "";
  display: block;
}
.discount:last-child {
  margin: 0;
}
.cart_widget {
  position: relative;
}
.cart_widget:after {
  clear: both;
  content: "";
  display: block;
}
.cart_widget-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: none;
  text-align: left;
}
.cart_widget:hover .cart_widget-dropdown {
  display: block;
}
.basket_list-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.basket_list-submit {
  cursor: pointer;
}
.basket_item {
  position: relative;
  margin-bottom: 1em;
}
.basket_item:after {
  clear: both;
  content: "";
  display: block;
}
.basket_item:last-child {
  margin-bottom: 0;
}
.basket_item-image {
  margin: 0 1em 1em 0;
  float: left;
}
.basket_item-delete {
  cursor: pointer;
  margin: 0 0 1em 1em;
  float: right;
}
.search-products_list:after {
  clear: both;
  content: "";
  display: block;
}
.search_widget {
  display: inline-block;
}
.search_widget-field {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  line-height: inherit;
  border: 1px solid;
  vertical-align: middle;
}
.search_widget-submit {
  display: inline-block;
  padding: 0;
  line-height: inherit;
  border: 1px solid transparent;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.search_widget-submit--disabled,
.search_widget-submit[disabled] {
  cursor: not-allowed;
}
.compare-wrapper {
  overflow-x: auto;
}
.compare-toggle_same {
  cursor: pointer;
}
.compare-remove {
  cursor: pointer;
}
.compare-notice {
  display: none;
}
.compare_row {
  display: table-row;
}
.compare_row:after {
  clear: both;
  content: "";
  display: block;
}
.compare_row-title {
  display: table-cell;
  vertical-align: top;
}
.compare_row-item {
  display: table-cell;
  vertical-align: top;
}
.blog-article_list:after {
  clear: both;
  content: "";
  display: block;
}
.article:after {
  clear: both;
  content: "";
  display: block;
}
.article-note {
  margin-bottom: 1em;
}
.article-content {
  margin-bottom: 1em;
}
.article_preview {
  margin-bottom: 1em;
}
.article_preview:after {
  clear: both;
  content: "";
  display: block;
}
.languages {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.languages:after {
  clear: both;
  content: "";
  display: block;
}
.languages-node {
  position: relative;
  box-sizing: border-box;
  display: block;
}
.languages-link {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.languages-toggler {
  cursor: pointer;
}
.languages--dropdown {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
}
.languages-node:hover > .languages--dropdown {
  display: block;
}
.social_links:after {
  clear: both;
  content: "";
  display: block;
}
.social_links-link {
  display: inline-block;
}
.social_links:after {
  clear: both;
  content: "";
  display: block;
}
.social_links-link {
  display: inline-block;
}
.payments:after {
  clear: both;
  content: "";
  display: block;
}
.payments-method {
  display: inline-block;
}
