{% comment %}
  <h1 class="index-title content-title">{{ page.title | editable }}</h1>
{% endcomment %}

<span class="button js-popup-form">FOOOORM!!!</span>

<div class="index-content page-content editor">
  {{ page.content | editable }}
</div>
