/* comapre */
.compare{
  &-title{}

  &-wrapper{
  }

  &-table{}

  &-delete{
  }

  &-trigger{

    .compare-add{
      display: block;
      line-height: inherit;
    }

    .compare-added{
      display: none;
      line-height: inherit;
    }

    &--added{
      .compare-add{
        display: none;
      }

      .compare-added{
        display: block;
      }
    }
  }
}

.compare_row{

  &-title{
    max-width: 200px;
    min-width: 200px;

    padding: 0.5rem;
  }

  &-item{
    min-width: 240px;
    max-width: 240px;

    padding: 0.5rem;

    &--title{
      position: relative;
    }

    &--footer{
      position: relative;
    }
  }

  &-item_title{
    margin: -0.5rem -0.5rem 0.5rem;
    padding: 0.5rem;

    background-color: $gray-light;
  }

  &--header{
    .compare_row-item,
    .compare_row-title{
      border-bottom: 2px solid $border-color;
    }

    .compare_row-item{
      text-align: center;
    }

    .compare_row-title{
      vertical-align: bottom;
    }
}

  &--body{

    &:nth-child(even){
      background-color: $gray-lighter;
    }

    .compare_row-item,
    .compare_row-title{
      border-bottom: 1px solid $border-color;
    }
  }

  &--footer{
    border-width: 0;

    .compare_row-item{
      text-align: center;
      padding: 1em;
    }
  }
}
