/* input */

.input{
  &-label{}

  &-field{
    border-color: $border-color;
  }

  &-notice{}

  &--inline{
    height: 30px;
    line-height: 30px;
  }

  &--error{
    > .input-label{}

    > .input-field{}

    > .input-notice{}
  }

  &--captcha{
    .input-field{}
  }
}

input[type="text"],
select{}

.captcha{
  &-challenge{}
}

.styled_select-wrapper{
  border-color: $border-color;
  &:after{}

  select{
  }
}
