// layouts

html{}

body{
  font-size: $font-size-base;
  line-height: $line-height-computed;
}

a{
  &:hover{
  }
}

// common class
.wrap{
  max-width: 1200px;
}

// данные классы используются для стилизации крупных блоков.
.section{
  // modificator
  &--top_line{}
}

// sidebar
.sidebar{}

.sidebar_block{
  &-title{}

  &-content{}
}

// content
.content-title{}
