/* modal */

.modal{
  background-color: #fff;
  border: 1px solid $border-color;

  &-wrapper{
    padding: 0.5rem;
  }

  &-header{}

  &-close{
    &:hover{}
  }

  &-content{}

  &--mobile_panel{}
}

.overlay{
  background: rgba( 0, 0, 0, 0.3 );
}
