{% comment %}
<h1 class="page_404-title page-title content-title"></h1>
{% endcomment %}

<div class="page_404-content page-content editor">
  Ой, Вы попали на страницу, которой либо нет, либо давно удалили.
</div>