{% comment %}
мобильная панель.
повторяет функционал sidebar для мобильных устройств
{% endcomment %}

<div class="mobile_panel
            m-grid-6 s-grid-10
            l-hidden
            padded-inner
            js-mobile_panel"
>
  <span class="mobile_panel-close js-panel-close">
    <i class="fa fa-times"></i>
  </span>

    {% if template == 'collection' and collection.subcollections.size > 0 %}
      <div class="sidebar-block">
        <div class="sidebar-block_title">
          Каталог
        </div>
        {% include "menu_collection" %}
      </div>
    {% endif %}

    {% if template == 'collection' and collection.properties.size > 0 %}
      <div class="sidebar_block">
        <div class="sidebar-block_title">
          Фильтр
        </div>
        {% comment %}
        {% include "collection_filter_small" %}
        {% endcomment %}
        {% include "collection_filter" with "mobile" %}
      </div>
    {% endif %}

    {% if template == 'blog' %}
      <div class="sidebar_block">
        <div class="sidebar-block_title">
        </div>
      </div>
    {% endif %}

    {% assign sidebar = block_lists.news.blocks %}
    {% if sidebar.size > 0 %}
      {% for block in sidebar %}
        <div class="sidebar-block">
          <div class="sidebar-block_title">{{ block.title }}</div>
          <div class="sidebar-block_content">
            {{ block.content }}
          </div>
        </div>
      {% endfor %}
    {% endif %}

</div>