<h1 class="blog-title content-title">{{ blog.title }}</h1>

{% paginate articles by 8 %}
  {% if paginate.parts.size > 1 %}
    <div class="row">
      {% include "pagination" %}
    </div>
  {% endif %}

  <div class="blog-article_list">
    {% for article in articles %}
      <div class="lg-grid-12
                  padded-bottom"
      >
        {% include "article_preview" with "blog" %}
      </div>
    {% endfor %}
  </div>

  {% if paginate.parts.size > 1 %}
    <div class="row">
      {% include "pagination" %}
    </div>
  {% endif %}
{% endpaginate %}
