{% comment %}
  вариант слайдера по продуктам

  slider-products - список продуктов
  slider-title - строка заголовка
  slider-link - url конечной коллекции
{% endcomment %}

{% if slider-products.size > 0 %}
  <div class="slider slider--product">

    <div class="slider-title">
      {% if slider-link %}
        <a href="{{ slider-link }}">
          {{ slider-title }}
        </a>
      {% else %}
        <h2>
          {{ slider-title }}
        </h2>
      {% endif %}
    </div>

    <div class="slider-control slider-control--product
                fr"
    >
      <div class="slider-left
                  button
                  js-slider-left"
      >
        <i class="fa fa-chevron-left"></i>
      </div>

      <div class="slider-right
                  button
                  js-slider-right"
      >
        <i class="fa fa-chevron-right"></i>
      </div>
    </div>

    <div class="slider-container js-slider">
      {% for product in slider-products %}
        <div class="padded">
          {% include "product_preview" %}
        </div>
      {% endfor %}
    </div>

  </div>
{% endif %}
