.search_widget{
  display: inline-block;
  height: 30px;

  &-field{
    display: inline-block;
    height: inherit;

    padding-top:    0;
    padding-bottom: 0;
    padding-left:   0.5rem;
    padding-right:  0.5rem;

    line-height:    inherit;
    vertical-align: middle;

    border-width:   1px;
    border-style:   solid;
  }

  &-submit{
    display: inline-block;
    padding: 0;
    height: inherit;

    border:           1px solid transparent;
    background-color: transparent;

    line-height:      inherit;
    text-align:     center;
    vertical-align: middle;

    cursor: pointer;

    &--disabled,
    &[disabled]{
      cursor: @cursor-disabled;
    }
  }
}
