.button{
  display: inline-block;

  text-align: center;
  vertical-align: middle;

  cursor: pointer;

  border: none;
  padding: 0.5rem;

  &--disabled,
  &[disabled]{
    cursor: @cursor-disabled;
  }
}
